product/app/sku_EU/HybridBrowserService/HybridBrowserService.apk
product/priv-app/sku_NA/AtscBrowserService/AtscBrowserService.apk
tvconfig.img
system_ext/priv-app/WebAppRuntime/WebAppRuntime.apk
vendor_boot.img
vendor_boot/dtb/01_dtbdump_,MediaTek_MT5896.dtb
